
// CHILD CSS

@font-face {
    font-family: Visitor;
    src:
    url("/fonts/visitor.ttf");
}

h1{
  font-family: Visitor;
  font-size: 7em;
  line-height: 0.6;
  color: #f1592a;
}

.posts{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 59vw;
  margin: 0 auto;
}

.post {
  max-width: 23em;
  margin: 1em;
  border: 1px solid #EFEEEE;
}

.post:first-child {
  border: 1px solid #EFEEEE;
}

.member {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* -webkit-flex-basis: 260px; */
  -ms-flex-preferred-size: 260px;
  /* flex-basis: 260px; */
  max-width: 235px;
  max-height: 168px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0 0 0 1px #efeeee;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.members-page-wrap {
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  flex-align: start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 16px;
  padding: 1rem;
  width: 80%;
}

.member {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* -webkit-flex-basis: 260px; */
  -ms-flex-preferred-size: 260px;
  /* flex-basis: 260px; */
  max-width: 235px;
  max-height: 168px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.member .avatar {
  height: 100px;
  width: 100px;
  margin: 0;
  margin-bottom: 1rem;
}

/* .avatar-wrap {
  position: relative;
  display: inline-block;
  z-index: 0;
} */

@media (min-width: 1600px) {
.posts{
  margin: 0;
}
}

.voorwaarden h2,
.faq h2,
.privacy h2{
  margin-top: 2rem;
}

.privacy h2{
  margin-bottom: 1rem!important;
}

.faq h3{
  font-weight: bold;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.voorwaarden p{
  margin-bottom: 1rem;
}

.circle {
    float: left;
    width: 30%;
    text-align: center;
    clear: both;
    margin-right: 10px;
    border-right: 2px solid black;
    padding-right: 1px;
    margin-top: -20px;
    font-weight: bold;
}

.circle h3{
    margin-top: 10px;
}

.circle i{
    color: #f1592a;
}

.markdown h3{
  margin-bottom: 0;
  font-size: 16px;
}

.stap{
  height: 180px;
}

.stap p {
    width: 100%;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-top: 20px;
}

#stapopdracht h2 {
    margin-bottom: 2em;
}

div#faqpri {
    position: absolute;
    bottom: 10px;
    padding: 10px 10px 30px 0;
    z-index: 1000;
    height: 30px;
    margin-bottom: -10px;
    width: 100%;
    color: #aaaaaa;
    background-color: #302824;
}


// #stapopdracht {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
// }
//
// .stap {
//     width: 50%;
//     padding: 10px;
// }
//
// .stap .circle {
//     text-align: center;
// }
//
// .stap h3{
//     margin-top: 20px;
// }

.faq h1{
  font-family: Visitor;
}

.datums{
  border-bottom: 1rem;
}

.datums span{
  margin-right: 20px;
}

/* .post-share {
  display:block;
} */

// END CHILD CSS
