
// CHILD CSS

@font-face {
    font-family: Visitor;
    src:
    url("/fonts/visitor.ttf");
}

h1{
  font-family: Visitor;
  font-size: 7em;
  line-height: 0.6;
  color: #f1592a;
}

.posts{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 59vw;
  margin: 0 auto;
}

.post {
  max-width: 23em;
  margin: 1em;
  border: 1px solid #EFEEEE;
}

.post:first-child {
  border: 1px solid #EFEEEE;
}

.member {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* -webkit-flex-basis: 260px; */
  -ms-flex-preferred-size: 260px;
  /* flex-basis: 260px; */
  max-width: 235px;
  max-height: 168px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0 0 0 1px #efeeee;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.members-page-wrap {
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  flex-align: start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 16px;
  padding: 1rem;
  width: 80%;
}

.member {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* -webkit-flex-basis: 260px; */
  -ms-flex-preferred-size: 260px;
  /* flex-basis: 260px; */
  max-width: 235px;
  max-height: 168px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.member .avatar {
  height: 100px;
  width: 100px;
  margin: 0;
  margin-bottom: 1rem;
}

/* .avatar-wrap {
  position: relative;
  display: inline-block;
  z-index: 0;
} */

@media (min-width: 1600px) {
.posts{
  margin: 0;
}
}

.voorwaarden h2,
.faq h2{
  margin-top: 2rem;
}

.faq h3{
  font-weight: bold;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.voorwaarden p{
  margin-bottom: 1rem;
}

#stapopdracht {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.stap {
    width: 50%;
    padding: 10px;
}

.stap .circle {
    text-align: center;
}

.stap h3{
    margin-top: 20px;
}

.faq h1{
  font-family: Visitor;
}


/* .post-share {
  display:block;
} */

// END CHILD CSS
