body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #302824;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	padding-bottom: 5em;
}

* {
  box-sizing: border-box;
}

.main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 65, 54, 0.85);
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.element{
	font-weight: 500;
}

header.homepage{
	height: 100vh;
	min-height: 30em;
	  width: 100%;
  	position: relative;
	overflow: hidden;
    background: url("img/niels-geek.png");
    background-position: top;
    background-size: cover;
}

.homepage-text{
	color: white;
	max-width: 41rem;
	margin: auto;
}

h1{
	color: rgb(255,205,0) !important;
	font-size: 4.5em;
	margin-top: .5em;
}

.homepage-text h1{
  font-size: 6em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  color: white;
  padding-top: .15em;
}

.homepage-text h2{
	font-size: 2.5em;
	font-weight: lighter;
	text-align: center;
}

.werk{
  font-size: 1.2rem !important;
  width: 55%;
  max-width: 59rem;
  font-weight: lighter !important;
  position: absolute;
  bottom: 10%;
  /* left: 35vw; */
  text-align: center;
  /* margin-top: 15%; */
  /* max-width: 43em; */
}

.typewrite{
	font-weight: 500;
}
.banner-overlay {
height:100vh;
	min-height: 30em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: rgba(50,50,50,0.45);
	  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-btn{
	  font-size: 1.5em;
  font-weight: 500;
  width: 16rem;
  margin: auto;
}

.scrolldown {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  bottom: 3%;
  left: 50%;
  margin-left: -1em;
  border-right: .40em solid white;
  border-bottom: .40em solid white;
  border-radius: .5em 0;
  text-indent: -200%;
  -webkit-animation: ease 5s infinite ease;
  -webkit-transform: rotate(45deg);
}

.scrolldown:hover {
  bottom: 2%;
}

.photo-grid {
  width: 100%;
  margin-bottom: 4rem;
}

.read-more {
  width: 33.333%;
  float: left;
  color: #fff !important;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.read-more .hidden-bio {
  display: none;
}
.read-more a {
  color: #99ccee;
  text-decoration: none;
}
.read-more img {
  max-width: calc(100% + 20px);
  width: calc(100% + 20px);
  height: auto;
  vertical-align: middle;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.read-more .photo-grid-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 35px 15px;
  width: 100%;
  -moz-transform: translate3d(0, 65px, 0);
  -webkit-transform: translate3d(0, 65px, 0);
  transform: translate3d(0, 65px, 0);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
  /* IE6-9 */
}

.minder{
	bottom: -30px !important;
}
.read-more .photo-grid-name {
  font-size: 44px;
  font-weight: 100;
	line-height: 2em;
}
.read-more .border {
  width: 100%;
  height: 1px;
  background: #fff;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 8px 0;
  float: left;
}
.read-more .photo-grid-title, .read-more .photo-grid-twitter-handle {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -moz-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  font-size: 1rem;
}
.read-more .photo-grid-title {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.read-more .photo-grid-twitter-handle {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  line-height: 22px;
}
.read-more .photo-grid-twitter-handle::before {
  content: '';
  display: inline-block;
  background: url(http://www.domo.com/assets/images/icon/twitter-bird.png);
  width: 20px;
  height: 18px;
  margin-bottom: -4px;
  margin-right: 3px;
  background-size: cover;
}
.read-more .photo-grid-bio {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 100%;
  width: 100%;
  -moz-transform: scale(3, 3);
  -ms-transform: scale(3, 3);
  -webkit-transform: scale(3, 3);
  transform: scale(3, 3);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  font-size: 16px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
  /* IE6-9 */
  background: rgba(153, 204, 238, 0.5);
  background: rgba(97, 130, 152, 0.7);
}
.read-more .photo-grid-twitter-handle {
  font-size: 16px;
}
.read-more:hover .photo-grid-info {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.read-more:hover .photo-grid-title, .read-more:hover .photo-grid-twitter-handle {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.read-more:hover .photo-grid-twitter-handle {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.read-more:hover .photo-grid-title {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.read-more:hover .border {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.read-more:hover img {
  transform: translate3d(-18px, 0, 0);
}
.read-more:hover .border {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.read-more.active .photo-grid-bio {
  -moz-transform: perspective(0) translate(0, 0);
  -ms-transform: perspective(0) translate(0, 0);
  -webkit-transform: perspective(0) translate(0, 0);
  transform: perspective(0) translate(0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.read-more.active .photo-grid-title, .read-more.active .photo-grid-twitter-handle {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.read-more.active .photo-grid-info {
  -moz-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.read-more.active img {
  transform: translate3d(-18px, 0, 0) scale(1.1);
}

.expanded-bio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(97, 130, 152, 0.9);
  color: #fff;
  padding: 30px;
  width: 33.333%;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  overflow: hidden;
}
.expanded-bio .read-more {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.expanded-bio.come-out {
  top: 200px !important;
  left: 50% !important;
  width: 800px;
  margin-left: -400px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.expanded-bio a {
  color: #99ccee;
  text-decoration: none;
}
.expanded-bio img {
  max-width: calc(100% + 20px);
  width: calc(100% + 20px);
  height: auto;
  vertical-align: middle;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.expanded-bio .photo-grid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  -moz-transform: translate3d(0, 65px, 0);
  -webkit-transform: translate3d(0, 65px, 0);
  transform: translate3d(0, 65px, 0);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
  /* IE6-9 */
}
.expanded-bio .photo-grid-name {
  font-size: 44px;
  font-weight: 100;
}
.expanded-bio .border {
  width: 100%;
  height: 1px;
  background: #fff;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 8px 0;
  float: left;
}
.expanded-bio .photo-grid-title, .expanded-bio .photo-grid-twitter-handle {
  font-size: 22px;
}
.expanded-bio .photo-grid-title {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.expanded-bio .photo-grid-twitter-handle {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  line-height: 22px;
}
.expanded-bio .photo-grid-twitter-handle::before {
  content: '';
  display: inline-block;
  background: url(http://www.domo.com/assets/images/icon/twitter-bird.png);
  width: 20px;
  height: 18px;
  margin-bottom: -4px;
  margin-right: 3px;
  background-size: cover;
}
.expanded-bio .photo-grid-bio {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 100%;
  width: 100%;
  -moz-transform: scale(3, 3);
  -ms-transform: scale(3, 3);
  -webkit-transform: scale(3, 3);
  transform: scale(3, 3);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  font-size: 16px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
  /* IE6-9 */
  background: rgba(153, 204, 238, 0.5);
  background: rgba(97, 130, 152, 0.7);
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
.expanded-bio .photo-grid-twitter-handle {
  font-size: 16px;
}

.gallery-cell {
  width: 100%;
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 100px auto 130px auto;
  padding: 0 20px;
}

.testimonial-avatar {
  width: 100px;
  border-radius: 50%;
}

.testimonial-quote {
  display: block;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0;
}

.testimonial-author {
  display: block;
  font-weight: 800;
  color: rgb(255,205,0);
}

.flickity-page-dots {
  bottom: 25px;

}

.main-gallery.js-flickity.flickity-enabled.is-draggable{
	margin: 0 0 6rem 0;
}

.flickity-page-dots .dot{
		height: 15px !important;
	width: 15px !important;
}

.flickity-page-dots .dot.is-selected {
  background: rgb(255,205,0);
}

.flickity-viewport{
	min-height: 370px !important;
	height: 370px !important;
	max-height: 482px !important;
}

.photo-grid-row{
	display: flex;
	flex-wrap: wrap;
}

.main-gallery{
	width: 60vw !important;
}

.row-klus{
	  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 70vw !important;
}

.grid, .grid-module, .grid-block{
	  max-width: 40rem !important;
}

.profile{
  width: 40%;
  max-width: 21rem;
  order: -1;
  margin-right: 5rem;
}

.profile_info{
	  background-color: #EFEEEE;
  border: 1px solid #EFEEEE;
  padding: 1em;
  height: 100%;
  min-width: 16em;
	margin-top: 1rem;
}

.row-klus .single-post.grid{
	width: 80% !important;
	  max-width: 75rem !important;
}

.post-body.markdown{
	max-width: 40rem;
}

.button_project button.btn.btn-default.profiel.sidebar-btn{
	min-width: 16rem;
}

.content.column.moreInfo, .content.column.faqRe, .content.column.posts_list_weld{
	  padding-top: .25rem !important;
}

.content.column.user_profile{
	padding: 0 !important;
}

.content{
	padding-left: 2rem;
	padding-right: 2rem;
}

.profile_info{
	margin-bottom: 2rem;
	text-align: center;
}
.comment-submit-button{
	margin: 0 !important;
}

.footer.grid.static{
	width: 100% !important;
	text-align: center !important;
}

.post-title{
	  white-space: normal;
}

.post{
	  max-width: 21em !important;
  	  margin: .5em !important;
}

.profile_info > .avatar{
		height: 5.5rem !important;
  width: 5.5rem !important;
}

.avatar + h2{
	margin-top: 0;
}

.avatar-profile-info .avatar{
	display: block !important;
	margin: auto !important;
	height: 5rem;
  width: 5rem;
}

.avatar-profile-info .avatar-initials{
	  background-color: #302824 !important;
  	  color: #fff !important;
	  font-size: 2.5rem;
  	  line-height: 2 !important;
}

.fa-2x{
	margin: .15em !important;
	color: #302824;
}

.testimonial-quote{
	font-size: 1.2rem;
}

span.edit-post.comment-submit-button.btn.btn-primary.btn-submit{
	  display: block;
  max-width: 9em;
  float: right;
  padding: .6em;
  background: #302824;
	border: none;
}

span.edit-post.comment-submit-button.btn.btn-primary.btn-submit a:hover{
	color: white !important;
}
.content.column.homeRe{
	max-width: 100vw !important;
}

.sidebar{
	background: #EFEEEE !important;
}

div#faqpri{
	background-color: #EFEEEE !important;
}

.logo-wrap{
	background-color: #EFEEEE !important;
}

button, .button, .btn, .btn-outlined{
	background: rgb(255,204,0);
  border: none !important;
	color: white !important;
}

.important{
	color: rgb(255,205,0) !important;
}

.sidebar-menu li a, .sidebar-menu li a:link, .sidebar-menu li a:visited{
	color: #302824;
}

/*
input[type="search"].search-input-field{
	  background: rgba(255, 205, 0, 0.6);
}
*/

.member-rollover{
	    background: rgba(255, 205, 0, .75);
		z-index: 999;
}

.member .avatar .avatar-initials {
  font-size: 3rem;
  line-height: 95px;
  color: white !important;
background: #302824;
}

button.comment-submit-button.btn.btn-primary.btn-submit.sidebar-btn{
	background: #302824 !important;
	border: none;
}

a.comment-submit-button.btn.btn-primary.btn-submit.sidebar-btn.goto-edit{
	background: #302824 !important;
	border: none;
	width: 12rem !important;
	float: right;
}

a.comment-submit-button.btn.btn-primary.btn-submit.profiel.sidebar-btn{
	width: 100%;
	  font-size: 1.4em;
  font-weight: 600;
}
.titel-klus{
	float: left;
}

.datums{
	clear: both;
	font-size: .9rem;
}

.profiel {
  margin: 0;
}

.sidebar.sidebar-achtergrond{
	  background: rgba(150,150,150,.85) !important;
	  -webkit-box-shadow: -2px -1px 43px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -1px 43px -16px rgba(0,0,0,0.75);
  box-shadow: -2px -1px 43px -16px rgba(0,0,0,0.75);
}

.back-arrow{
	color: rgb(255,205,0);
}

div#testimonial-link{
	width: 100% !important;
}

.profile-header{
	  min-height: 400px;
}

.profile-skill{
	background-color: #302824 !important;
}

.profile-location .important{
	color: #302824 !important;
}

.user-profile-posts h3, .user-profile-comments h3, .user-profile-votes h3, td{
	text-transform: none;
	  letter-spacing: 0;
}

.user-profile .profile-name{
	color: #302824 !important;
}

@media screen and (min-width: 5000px) {
.homepage-text {
  max-width: 27rem;
}
}

@media screen and (min-width: 4000px)and (max-width: 4999px) {
.homepage-text {
  max-width: 37rem;
}
}

@media screen and (max-width: 1101px) {
    .meer{
	bottom: -88px !important;
}
	
	.row-klus{
		  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
	}
	
		.row-klus{
		width: 100% !important;
		
	}
	
	.profile{
		order: 1;
		width: 100%;
		 max-width: 100%;
		  margin-right: 0rem;
	}

}

@media screen and (max-width: 1001px) {
    .read-more{
	width: 50%;
}
.homepage-text{
	max-width: 35em;
}
	.homepage-text h2{
	font-size: 2em;
}
	.werk{
		font-size: 1em;
max-width: 53%;
  left: 23%;
	}
	
}

@media screen and (max-width: 900px) {
.homepage-text {
  max-width: 33rem;
}
}


@media screen and (max-width: 800px) {
	.fa-5x {
  font-size: 4em;
}
	.stap p {
  margin-top: 50px;
}

	
.main-gallery {
    width: 85vw !important;
}

.circle{
	height: 12rem;
}
	header.homepage{
		height: 92vh;
	}
	.banner-overlay {
		height: 92vh;
	}
	
	.logo-wrap {
  background-color: rgb(255,205,0) !important;
}
	
	header a img{
		height: 40px !important;
	}
}

.flickity-viewport {
  height: 415px !important;
}

@media screen and (max-width: 600px) {
	.stap p {
  margin-top: 100px;
}
	
	.circle {
  height: 15rem;
}

}

@media screen and (max-width: 500px) {
		.werk{
		font-size: 1em;
		max-width: 60%;
		left: 19%;
	}
	
	h1{
		font-size: 4.5em;
	}

}

/*! Flickity v1.0.2
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  filter: alpha(opacity=60); /* IE8 */
  opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30); /* IE8 */
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25); /* IE8 */
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100); /* IE8 */
  opacity: 1;
}
