<template name="post_body">
  <div class="post-body markdown">
    <div class="datums">
      <p>
        <span class="startdatum"><i class="fa fa-clock-o"></i> Start datum: {{formatDate start "DD.MM.YYYY"}}</span>
        <span class="einddatum"><i class="fa fa-clock-o"></i> Eind datum: {{formatDate end "DD.MM.YYYY"}}</span>
      </p>
    </div>
    <h3>Wat houdt de klus in?</h3>
    {{{htmlBody}}}

    <h3>Wat wordt er van jou verwacht?</h3>
    <p>{{{body2}}}</p>

    <h3>Wat kan jij ermee verdienen?</h3>
    <p>{{{body3}}}</p>
  </div>
</template>
